.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(206, 213, 233);
  font-family: "Fredoka", sans-serif;
}

.navbar {
  width: 100vw;
  height: 8vh;
  background-color: #386697;
  color: aliceblue;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link {
  text-decoration: none;
  position: absolute;
  right: 30px;
  color: aliceblue;
  font-size: 1rem;
  padding: 0 10px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: aliceblue;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: center;
}

.link:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.main {
  width: 100%;
  height: 80vh;
  background-color: rgb(206, 213, 233);
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}
.content {
  width: 70vw;
  height: 70vh;
  background-color: rgb(251, 251, 251);
  padding: 2vh 4vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.buttons {
  width: 20vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.buttons button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  width: 8vw;
  transition: background-color 0.2s ease;
}
.buttons button:hover {
  cursor: pointer;
  background-color: magenta;
  color: white;
}
.pageCounter {
  margin: auto;
  width: 10vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
}
