.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left,
.right {
}

.title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 4vh;
  border-bottom: 2px solid wheat;
}

.title h1 {
  margin-bottom: 2vh;
}

.inputs {
  width: 46%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.inputWrapper input {
  width: 100%;
  height: 6vh;
  padding-right: 40px;
  padding-left: 10px;
  border: 2px solid wheat;
  border-radius: 8px;
  font-size: 1rem;
}

.inputWrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.2rem;
  pointer-events: none;
}

.inputs input:focus {
  outline: none;
  border-color: #386697;
}
.invisible {
  opacity: 0;
}
.invisible:hover {
  cursor: default !important;
}
